  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.rich-textarea {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  font: inherit;
  line-height: 1.5;
  color: white;
}

.rich-textarea textarea {
  color: "white";
}

.rich-textarea::selection {
  background: #4a90e2; 
  color: white;      
}

.rich-textarea:focus {
  outline: none;
}